.btn {
    border-radius: 10px;
    font-weight: bold;
    border-width: 1px;
    color: #FFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}
  